<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap" rel="stylesheet">
  <title>User Information Input</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    /* Custom CSS */
    .form-container {
      max-width: 500px;
      margin: 50px auto;
    }

    .title {
      text-align: center;
      margin-top: 20px;
      margin-bottom: 20px;
      font-size: 100px;
      /*font-size-weight: bold;*/
      font-family: 'Sixtyfour', sans-serif;
    }

    body {
      background-color: lightsteelblue; /* Change the background color to light blue */
      font-family: 'Courier New', Courier, monospace;
    }

  </style>
</head>
<body>

<h1 class="display-4 title">MoneyMinder</h1>

<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card form-container">
        <div class="card-header">
          <h3 class="card-title text-center">Sign In</h3>
        </div>
        <div class="card-body">

          <form id="user-info-form" action="/signinUser" method="POST">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <button type="submit" value ="add" id="" class="btn btn-primary btn-block">Log in</button>
            
          </form>
          <div class="text-center mt-3">
            <p>Already have an account? <a href="/signup">Sign up</a></p>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- Bootstrap JS and dependencies (optional, if you need JS functionality) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

